
<ul>
  <% @properties.each do |property| %>
    <li><%= property.title %></li>
  <% end %>
</ul>

 <% @properties.each do |property| %>
<div>
    <li><%= image_tag property.image_url %></li>
</div>
  <% end %>

<h2>Check out our properties!</h2>



<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_tag property.image_url %>)">
    <%= property.title %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>
